In [1]:
import pandas as pd

In [2]:
def loadfileCombine(startyear = 2020, stopyear = 2022):
    
    datafile = pd.DataFrame({'Date':[],'Hour':[],'Ontario Demand':[]}) # initialize empty file
    
    for year in range(startyear, stopyear+1):
        filepath = "http://reports.ieso.ca/public/Demand/PUB_Demand_{}.csv".format(year)
        df =  pd.read_csv(filepath, skiprows= [0,1,2], usecols = lambda x: x in ['Date','Hour','Ontario Demand'],parse_dates=["Date"]) # skip rows 0,1,2
        datafile = pd.concat([datafile,df], axis = 0)
    
    # adding extra attributes
    datafile["Year"] = datafile["Date"].dt.year
    datafile["Month"] = datafile["Date"].dt.month
    datafile["timestamp"] = datafile["Date"].add(pd.to_timedelta(datafile.Hour - 1, unit="h")) # create timestamp variable from Date and Hour
    
    datafile.index = range(len(datafile)) # to have correct index
    datafile = datafile.rename(columns={"Ontario Demand": "load"})
    
    data = pd.DataFrame(datafile)
    
    data = data[["timestamp","Date","load","Year","Month","Hour"]]
    
    # save to csv
    data.to_csv("loadDemand.csv",index=False) #, index=False
    return data

In [4]:
loadDemand=loadfileCombine()
loadDemand

                timestamp       Date     load  Year  Month  Hour
0     2020-01-01 00:00:00 2020-01-01  13219.0  2020      1   1.0
1     2020-01-01 01:00:00 2020-01-01  12895.0  2020      1   2.0
2     2020-01-01 02:00:00 2020-01-01  12554.0  2020      1   3.0
3     2020-01-01 03:00:00 2020-01-01  12360.0  2020      1   4.0
4     2020-01-01 04:00:00 2020-01-01  12353.0  2020      1   5.0
...                   ...        ...      ...   ...    ...   ...
26299 2022-12-31 19:00:00 2022-12-31  15834.0  2022     12  20.0
26300 2022-12-31 20:00:00 2022-12-31  15465.0  2022     12  21.0
26301 2022-12-31 21:00:00 2022-12-31  15086.0  2022     12  22.0
26302 2022-12-31 22:00:00 2022-12-31  14453.0  2022     12  23.0
26303 2022-12-31 23:00:00 2022-12-31  13965.0  2022     12  24.0

[26304 rows x 6 columns]